body{
    font-family: 'Rubik', sans-serif;
}



/*NAVBAR*/
.navbar-brand{
    margin-left: 10px;
}

.navbar-brand i{
    background-color: #f7df1e;
    padding: 8px;
}



/*SIDEBAR*/
.nav-link{
    color: rgb(90, 90, 90) ;
    padding-left: 0; 
}

.nav-item{
    color: rgb(90, 90, 90) ;
}

.nav-link:visited{
    color: inherit;
}

.nav-link:hover{
    background-color: rgb(233, 233, 233);
    color: rgb(90, 90, 90) ;
}

#components-collapse{
    padding-left: 20px;
}

.navlink-collapsed:hover{
    cursor: pointer;
    color: inherit;
}

.navlink-collapsed:visited{
    color: inherit;  
}

.sidebar{
    border-right: 1px solid green;
}


/*DOCUMENTATION*/
.row{
    margin-left:0;
    margin-right: 0;
    margin-top: 10px;
}

.documentation h1{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 10px;
    font-weight: 700;
}

.documentation{
    padding-left: 50px;
    padding-right: 50px;
    font-family: "Open Sans", Arial, sans-serif;
    ;
    font-size: 16px;
    line-height: 30px;
}

code{
    background-color: rgb(247, 247, 247);
    color: rgb(77, 78, 83);
    display: block;
}

/*FOOTER*/

footer p{
    margin-bottom: 0;
    margin-top: 10px;
    font-size: .9em;
}
